src-*.tar.bz2
leak.out*
*.bison.output
*.kdev*
tags
Doxyfile
*.tlog
moc_*
ui_*.h
build*/build
build*/build-con
build*/build.static
build*/build.dbg
build*/utils
build*/config.h
build*/DEBUG*
gmon.out
.directory
*/.directory
.gitk-tmp*
*.[doa]
*.exe
src/SenseLock
src/ui/ui_*.h
*.user
git.export-commit.sh
git.pull.sh
git.fetch.sh
!utils/cgi/server/tnav_license_server/etc/*.d
*.lot
*.lof
*.pdf
*~
utils/schedulizer/schedule/config.h
utils/cgi/server/config.h
*-build-desktop
.#*.*
*.*.bak
*.sln
*.sln.docstates
*.vcproj
*.vcxproj
*.vcxproj.filters
*.sdf
*.opensdf
*.suo
*.orig
*.lnk
ipch/*
*/ipch/*
*/*/ipch/*
*.pdb
*.ncb
*.idb
UpgradeLog*.XML
_UpgradeReport_Files
.*.swp
*.kate-swp
.swp.*
*.kate-swp
*.mo
*.xcodeproj
Info.plist
cscope.files
cscope.out
*.pdb
*.ncb
*.idb
*.cmake
*.depend
*.obj
*.res
*.manifest
*.ilk
*.dep
*.check_cache
*.stamp*
CMakeCache.*
*/*/CMakeFiles/*
*.htm*